	<h1>Algo que decir</h1>
	<header>header</header>
<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>  
        <div id="content" style="height:200px;overflow:auto"></div>
        <div>
            <span id="status">Connecting...</span>
            <input type="text" id="input" disabled="disabled" />
        </div>
		<div>
			<span id="estado">Connecting...</span>
		</div>
		<div id="devices" style="display: flex;background: chocolate;"></div>
		<div id="webclient" style="display: flex;min-height:100px;background:#ddf566;overflow:auto">
		</div>
<!--		{{user}}  -->
        {{#if user}}
			<input type="hidden" name="myName" id="myName" value="{{user.username}}">
        {{else}}
			<input type="hidden" name="myName" id="myName" value="Unknow">
        {{/if}}

		<script >
			user= new Object();
			user.id = "{{user.id}}";
			user.name = "{{user.name}}";
			user.email = "{{user.email}}";
			user.username = "{{user.username}}";
			user.passwd = "{{user.password}}";
			user.account = "{{user.account}}";
			if (user.account == "") user.account = user.id;
		</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="./frontend.js"></script>
